html
  head
  body
    footer
      .footer-text
        .logo-box Workle
        .concert-one Workle | All rights reserved &copy;
      .footer-links
        p.concert-one Resources:
        div
          ul
            li
              a(href='https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/feelings-and-symptoms/stress/', target='_blank') Get help with Stress
            li
              a(href='https://www.healthline.com/health/tips-for-identifying-and-preventing-burnout', target='_blank') Identifying Burnout
            li
              a(href='https://www.samaritans.org/ireland/how-we-can-help/contact-samaritan/', target='_blank') Contact Samaritans