extends base

block content

    section.content
      section.section-topic
        div(id='')
          h2.section-heading Getting Started with Mindfulness
        .two-col-block
          .two-col-width
            h2
              i.fas.fa-brain
              | What is Mindfulness?
            hr
            p
              | Professor Mark Williams, former director of the Oxford Mindfulness Centre, says that mindfulness means knowing directly what is going on inside and outside ourselves, moment by moment. &quot;It&apos;s easy to stop noticing
              | the world around us. It&apos;s also easy to lose touch with the way our bodies are feeling and to end up living &apos;in our heads&apos; &ndash; caught up in our thoughts without stopping to notice how those thoughts are driving our
              | emotions and behaviour,&quot; he says. &quot;An important part of mindfulness is reconnecting with our bodies and the sensations they experience. This means waking up to the sights, sounds, smells and tastes of the present
              | moment. That might be something as simple as the feel of a banister as we walk upstairs. &quot;Another important part of mindfulness is an awareness of our thoughts and feelings as they happen moment to moment. &quot;It&apos;s
              | about allowing ourselves to see the present moment clearly. When we do that, it can positively change the way we see ourselves and our lives.&quot;
          .two-col-width
            h2
              i.fas.fa-laptop-medical
                                        The Basics of Mindfulness Practice
            hr
            p
              | As well as practising mindfulness in daily life, it can be helpful to set aside time for a more formal mindfulness practice. Mindfulness meditation involves sitting silently and paying attention to thoughts,
              | sounds, the sensations of breathing or parts of the body, bringing your attention back whenever the mind starts to wander. Yoga and tai-chi can also help with developing awareness of your breathing.
      section.section-topic
        div(id='')
          // credit https://www.mentalhealth.org.uk/a-to-z/s/stress#:~:text=Stress%20is%20the%20feeling%20of,with%20mental%20or%20emotional%20pressure
          h2.section-heading Stress
        .two-col-block
          .two-col-width
            h2
              i.fas.fa-laptop-medical
              | What is stress?
            hr
            p
              | Stress is the feeling of being overwhelmed or unable to cope with mental or emotional pressure. It is our body&apos;s response to pressure. When we encounter stress, our body produces stress hormones that trigger a
              | fight or flight response and activate our immune system. Sometimes, this stress response can be useful: it can help us push through fear or pain. However, too much stress can cause negative effects. It can leave
              | us in a permanent stage of fight or flight, leaving us overwhelmed or unable to cope. Long term, this can affect our physical and mental health.
          .two-col-width
            // credithttps://www.helpguide.org/articles/stress/stress-symptoms-signs-and-causes.htm#:~:text=Causes%20of%20stress,on%20you%20can%20be%20stressful.
            h2
              i.fas.fa-laptop-medical
              | What makes us stressed?
            hr
            p
              | Anything that puts high demands on you can be stressful. Stress can also be internal or self-generated but often caused by external factors. Work related stress is an unfortunae symptom of many modern working
              | environments.While some workplace stress is normal, excessive stress can interfere with your productivity and performance, impact your physical and emotional health, and affect your relationships and home life
              | and lead to 
              a(href='#burnout-section') burnout
              | . It can even determine the difference between success and failure on the job. Whatever your ambitions or work demands, there are steps you can take to protect
                                        yourself from the damaging effects of stress, improve your job satisfaction, and bolster your well-being in and out of the workplace.
        #center
          #center-container
            #center-table
              h2
                i.fas.fa-laptop-medical
                | What are the signs of stress?
              hr
              p
                | Stress can manisfest in different ways:
                br
                                              You may feel:
              ul
                li anxious
                li angry or agressive
                li frustrated
                li sad
                                        You may experience:
              ul
                li headaches
                li nausea
                li shallow breathing or hyperventilation
                li heart palpatations
                                        You may behave differently. For instance, you may:
              ul
                li withdraw from other people
                li be tearful
                li have problems getting to sleep or staying asleep
                li smoke, drink alcohol or take drugs more than usual.
      section.section-topic
        #burnout-section
          div
            //
              https://inside.ewu.edu/calelearning/psychological-skills/preventing-burnout/
              &https://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/burnout/art-20046642#:~:text=Job%20burnout%20is%20a%20special,as%20depression%2C%20are%20behind%20burnout.
            h2.section-heading Preventing Burnout
          .two-col-block
            .two-col-width
              h2
                i.fas.fa-laptop-medical
                | What is Burnout?
              hr
              p
                | Burnout is characterized by the triad of emotional exhaustion, depersonalization, and a decreased sense of accomplishment in one&rsquo;s occupation. Job burnout is a special type of work-related stress &mdash; a state of
                | physical or emotional exhaustion that also involves a sense of reduced accomplishment and loss of personal identity.
            .two-col-width
              h2
                i.fas.fa-laptop-medical  
                                          Signs of Job Burnout
              hr
              ul
                li
                  | Becoming cynical or critical at work; becoming irratable or impatient with co-workers.
                li A lack of energy to lack the energy to be consistently productive
                li A lack of satisfaction from your achievements or disillusion with your job.
                li
                  | Becoming troubled by unexplained headaches, stomach or bowel problems, or other physical complaints.
          .two-col-block
            .two-col-width
              h2
                i.fas.fa-laptop-medical
                                          Stages of Job Burnout
              hr
              ol
                li
                  | Milder symptoms; mental fatigue, feeling underappreciated &amp; frustrated, feelings of falling behind, dreading the next working day.
                li
                  | Longer lasting symptoms; disillusionment, apathy, a feeling of stasis, psycological symptoms such as depression, substance abuse &amp; suicidal thoughts.
                li
                  | Severe chronic symptoms; psyciatric &amp; physical health disorders, personal consequences- substance abuse, shorter life expectancy, detrimental effects on personal relationships
            .two-col-width
              h2
                i.fas.fa-laptop-medical  
                                          Preventing Job Burnout
              hr
              p
                | Recognising job burnout is the first step in preventing burnout. Workle allows you to track your mood and provides a visual history of your emotions &amp; feelings of stress. An awareness of negative mood patterns
                | allows he user to anticipate potential burnout and tackle the problem before it grows out of control.
              p
                | Workle allows the user to cultivate the ability to self-reflect&amp; complete a periodic assessment of their mood. This allows them to attend to their own needs, realign their goals and reevaluate their potentially
                | harmful work, or school, schedules. Of course, basic things such as a balanced diet, regular exercise, getting enough sleep and mainitaing a healthy work life balance are all effective methods of preventing
                | burnout in general.
    