extends base

block content
    section.container-fluid.my-4
        .row.justify-content-center
            .col-12.col-md-8.how-feeling-div.pb-3
                .container-fluid.my-4
                    .row
                        .col-6.d-flex.justify-content-center.flex-column.details.p-4
                            .signin
                                form.form--login
                                    h1.h1-login Sign In
                                    input#email(type='email', placeholder='your@email.com')
                                    input#password(type='password', placeholder='Password')
                                    button.form-submit(type='submit') Sign In
                                    br
                                    span.extra-info You don&apos;t have an account yet?
                                        a#signup(href='/signup') Create it Now!
                        .col-6.d-flex.justify-content-center.flex-column.content
                            .signin
                            h1.mt-3.h1-login Welcome Back!
                            p.enter-details-p To add your next entry please login with your details
          
