extends base

block content
  section.container-fluid.jumbotron.p-6
    .row.justify-content-center.align-items-center.h-100
        .col-12.col-md-8.how-feeling-div.pb-3.jumbotron
          h2.what-is-workle Join The Workle Community Now!
          p.workle-description.join-community So what are you waiting for? Sign Up and join the Workle community and begin your journey to a more relaxed life |
          section.button-advice
            a.advice-btn.btn.btn--cta.btn--nav(href='/login') Sign In / Sign Up
  section.container-fluidn.p-6
    .row.justify-content-center.align-items-center.h-100
        .col-12.col-md-8.how-feeling-div.pb-3.hero-inner
          h2.what-is-workle.overview-pug What is Workle?
          p.workle-description.workle-desc Workle is a site where you can track how you feel on a daily basis. Come back everyday and chose a colour which best represents your overall emotion/feeling for the day and add a comment describing how your day was and any potential reasons for feeling this way. Over time this grid will build out and allow you to see your day to day emotions helping to monitor stress levels and overall mantal wellbeing. Workle also has a page dedicated to explaining and helping you understand the complex world of mental wellbeing.
          h2.who-is-workle-for.w-i-w-f-a Who is Workle For?
          p.workle-description-centre.workle-desc Workle is for everyone! No matter your age keeping track of your mental wellbeing is vital to a successful and fufilling life, so whether your a teenager dealing with school stress or and adult trying to manage your work/life balance Workle is for you.