extends base

block content
  section.container-fluid.p-6
    .row.justify-content-center
      .col-12.col-md-8.col-xl-7.how-feeling-div.pb-3
        .container-fluid
          .row
            .col-6.d-flex.justify-content-center.flex-column.details.p-4.form--auth
              .signup
                form.form--signup
                  h1.h1-login Sign Up
                  input#signup-name(type='name', placeholder='Username')
                  input#signup-email(type='email', placeholder='Email')
                  input#signup-password(type='password', placeholder='Password')
                  input.mb-4#signup-password-confirm(type='password', placeholder='Password')
                  button.form-submit(type='submit') Sign Up
                  br
                  span.mt-3.extra-info Already have an account? 
                    a#signin(href='/login') Sign In
            .col-6.d-flex.justify-content-center.flex-column.content.form--auth
              .signup
                h1 Hello, Friend!
                p.enter-details-p Create an account to begin your journey with Workle
