extends base

block content
  section.container-fluid.emotion-section.jumbotron.p-6
    .row.justify-content-center
      .col-12.col-md-8.how-feeling-div.pb-3
        h2.how-are-you-feeling How Are You Feeling Today?
        form.form--workle
          div
            .frb-group
              .frb.frb-angry
                input#radio-button-0(type='radio', name='emotion', value='0')
                label.labels(for='radio-button-0')
                  span.frb-title Angry
              .frb.frb-stressed
                input#radio-button-1(type='radio', name='emotion', value='1')
                label.labels(for='radio-button-1')
                  span.frb-title Stressed
              .frb.frb-sad
                input#radio-button-2(type='radio', name='emotion', value='2')
                label.labels(for='radio-button-2')
                  span.frb-title Sad
              .frb.frb-optimistic
                input#radio-button-3(type='radio', name='emotion', value='3')
                label.labels(for='radio-button-3')
                  span.frb-title Optimistic
              .frb.frb-calm
                input#radio-button-4(type='radio', name='emotion', value='4')
                label.labels(for='radio-button-4')
                  span.frb-title Calm
              .frb.frb-happy
                input#radio-button-5(type='radio', name='radio-button', value='5')
                label.labels(for='radio-button-5')
                  span.frb-title Happy
          .row.input-box
            h2.col-12.comment-about-day Add A Comment About Your Day
            .input-group.mb-3
              input#comment.form-control(type='text', placeholder='Comment', aria-label='Comment', aria-describedby='basic-addon1')
          .row.submit-button-div
            .col-12
              input.btn.btn--sub(type='submit')
  // Grid
  section.css-grid-section.container-fluid.p-6
    .row.justify-content-center
      .col-12.col-md-8.how-feeling-div
        h1.grid-title Emotion Grid
        .cards
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card
          .card