
/* File path: /workspace/team-8/assets/css/advice.css  */

/* Two fonts  namely Robota Sans and Exo with different weights */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*Below font family imported for header and potential option for h1, h2, h3*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=M+PLUS+Rounded+1c:wght@400&display=swap');
/*----------------------------------------------------------------Color--*/
h2 {
    color:black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
}

.concert-one{
    font-family: 'Concert One', cursive;
}
/*--------------------------------------------------------------------- Special paddings/margins/texts */



/*-------------------------------------------------------------- Heading  */

/*  Set all margins to 0 to begin with setting up our page. */

header {
    margin: 0;
}
/* Navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(93, 63, 211, 0.85);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-size: 40px;
    font-family: 'Concert One', cursive;
    letter-spacing: 2px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-collapse{
    margin-top: 10px;
}

.nav-item{
    color:#fff;
    font-size: 26px;
}

.secondary-nav-div{
    padding-top: 0.5rem;
}

.navbar-text{
    color: rgba(255,255,255,1);
    margin-right:1.25rem;
    font-size: 16px;
}

/* Buttons */
.btn--cta{
    font-weight: bold;
    border-radius: 23px;
    width: 180px;
    height: 50px;
}

.btn--nav{
    color: #fff;
    background: #66BAA8;
    border-color: #66BAA8;
    border-width: 4px;
    padding-top:10px;
}

/* link logo to the images directory and its photo*/


/*----------------------------------------------------------------Hover.css--*/



/*-------------------------------------------------------------- Footer  */
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 1rem;  
    background-color: rgba(93, 63, 211, 0.85);  
    color: rgba(255,255,255,1);
    font-size: 16px;
}

.footer-links{
    display: flex;
}
footer ul{
    margin:0;
    list-style-type: none;  
    font-family: 'M PLUS Rounded 1c', sans-serif; 
    color: black; 
}

ul li a{
    color: rgba(255,255,255,.85);
    text-decoration: underline;
}

/*----------------------------------------------------------- .content */
.content{
    background-color: lightgray;
    padding: 2rem;
}

.section-topic{
    padding: 2rem 0;
}

.section-heading{
    color:rgb(93, 63, 211);
    font-size:34px;
    font-weight:bold;
    margin: 1rem 0;
}

.two-col-width h2, 
#center-table h2{
    border:1px solid black;
}

.stress-section{
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}






/*--------------------------------------------------------------  Mindfulness */


/*--------------------------------------------------------------    Stess */



/*--------------------------------------------------------------   Burnout */



/*--------------------------------------------------------------------  */


/* -----------------------------------------------------------------  */


/* -----------------------------------------------------------Media Queries */
@media  screen and (min-width:780px) {
    .two-col-block{
        display: flex;
        justify-content: space-evenly;
    }


    
    .two-col-width{
        width:400px;
        }

    .two-col-width h2,
    #center-table h2{
        height: 80px;
        vertical-align: middle;
        line-height: 80px;
            }    

    #center{
        display: flex;
    justify-content: center;
    }
    
}
