@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=M+PLUS+Rounded+1c:wght@400&display=swap');

html{
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
}

/* Navbar */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(93, 63, 211, 0.85);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-size: 40px;
    font-family: 'Concert One', cursive;
    letter-spacing: 2px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-collapse{
    margin-top: 10px;
}

.nav-item{
    color:#fff;
    font-size: 26px;
}

.secondary-nav-div{
    padding-top: 0.5rem;
}

.navbar-text{
    color: rgba(255,255,255,1);
    margin-right:1.25rem;
    font-size: 16px;
}

/* Buttons */
.btn--cta{
    font-weight: bold;
    border-radius: 23px;
    width: 180px;
    height: 50px;
}

.btn--nav{
    color: #fff;
    background: #66BAA8;
    border-color: #66BAA8;
    border-width: 4px;
    padding-top:10px;
}

.btn--jumbo{
    color: white;
    background-color:rgba(93, 63, 211, 1);
    border-color: rgba(93, 63, 211, 1);
    border-width: 4px;
    padding-top: 10px;
}

.btn--sub{
    border-width: 4px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 75px;
    width: 150px;
    color: white;
    background: #66BAA8;
    border-color: #66BAA8;
    border-radius: 20px;
    margin-top: 10px;
}

.btn--jumbo:hover,
.btn--jumbo:active,
.btn--jumbo:focus,
.btn--jumbo:active:focus{
    color: white;
    background-color:rgba(93, 63, 211, 1);
    border-color: white;
}

.btn--nav:hover,
.btn--nav:active,
.btn--nav:focus,
.btn--nav:active:focus{
    background-color: #66BAA8;
    border-color: white;
    color:white;
}

.btn--sub:hover,
.btn--sub:active,
.btn--sub:focus,
.btn--sub:active:focus{
    background-color: #66BAA8;
    border-color: white;
    color:white;
}

/* Jumbotron */
.jumbotron{
    background-color:lightgray;
    padding: 2rem 2rem;
    margin-bottom: 0;
}

.what-is-workle,
.who-is-workle-for{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 34px;
    padding-bottom: 0.75rem;
    font-weight: bold;
}

.workle-description{
    text-align: justify;
    font-size: 18px;
    padding-bottom: 0.75rem;
}

.workle-description-centre{
    text-align: center;
    font-size: 18px;
}

/* Add Entry */

.how-are-you-feeling,
.comment-about-day{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:white;
    font-weight: bold;
    margin-top:1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 34px;
}

.comment-about-day{
    margin-top: 2rem;
}

.button{
    height:150px;
}

.input-group{
    padding: 0 1.5rem;
}

.submit-button-div{
    text-align: center;
} 

.emotion-section{
    padding: 1rem 2rem;
    background-color: rgba(93, 63, 211, 0.75);
}

.frb-group{
    margin: 15px 0;
}

.frb ~ .frb {
	margin-top: 15px;
}

.frb input[type="radio"]:empty{
    display: none;
}

.frb input[type="radio"] ~ label{
    position: relative;
	cursor: pointer;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.frb input[type="radio"] ~ label:focus,
.frb input[type="radio"] ~ label:hover{
    box-shadow: 0px 0px 3px #333;
}

.labels{
    padding-top: 14px;
    text-align: center;
    height: 50px;
}


.frb.frb-angry input[type="radio"] ~ label{
    background-color: red;
    color:white;
}

.frb.frb-angry input[type="radio"]:checked ~ label{
    border: 4px solid white;
    color:#fff;
}

.frb.frb-stressed input[type="radio"] ~ label{
    background-color:violet;
    color:white;
}

.frb.frb-stressed input[type="radio"]:checked ~ label{
    background-color: violet;
    border: 4px solid white;
}

.frb.frb-sad input[type="radio"] ~ label{
    background-color: blue;
    color:#fff;
}

.frb.frb-sad input[type="radio"]:checked ~ label{
    background-color: blue;
    border: 4px solid white;
}

.frb.frb-optimistic input[type="radio"] ~ label{
    background-color: orange;
    color:#fff;
}

.frb.frb-optimistic input[type="radio"]:checked ~ label{
    background-color: orange;
    border: 4px solid white;
}

.frb.frb-calm input[type="radio"] ~ label{
    background-color: cadetblue;
    color:white;
}

.frb.frb-calm input[type="radio"]:checked ~ label{
    background-color:cadetblue;
    border: 4px solid white;
}

.frb.frb-happy input[type="radio"] ~ label{
    background-color: green;
    color:#fff;
}

.frb.frb-happy input[type="radio"]:checked ~ label{
    background-color: green;
    border: 4px solid white;
}

.frb input[type="radio"]:empty ~ label span{
    display: inline-block;
}

.frb input[type="radio"]:empty ~ label span.frb-title{
    font-size: 16px;
	font-weight: 700;
}

/* Grid */

.css-grid-section{
    background: lightgray;
}

.grid-h1-div{
    padding-top: 50px;
}

.grid-title{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
}

.cards{
    padding-top: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    grid-gap: 0.5rem;
    display: grid;
}

.card{
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}

@media only screen and (max-width: 900px){
    .wrapper{
        width: 80%;
    }
}

@media only screen and (max-width: 480px){
    .wrapper{
        width: 80%;
        flex-direction: column-reverse;
    }

    .column{
        width:100%;
    }

    .close{
        top: 0;
        right: 10px;
        margin:0;
    }

}

@media (min-width: 320px) {
    .cards { grid-template-columns: repeat(7, 1fr); }
  }